# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
.venv/
venv/
.env
.ipynb_checkpoints/

# Build artifacts
build/
dist/
*.whl

# IDE
.vscode/
.idea/

# Project outputs & large data
Results/
data/*.aln
data/*.dnd
data/*.fa
data/*.fasta
data/*.nwk
*.png
